{
"threshhold":1.0,
"cool":
    {8:80, 15:81, 20:78, 23:76},
"precool":
    [(13.5,15)],
"heat":
    {7:69, 14:71, 15:69, 20:71, 22.5:65},
"preheat":
    [(14.25,15)],
"no_compressor":(73,75),
"max_on":60,
"min_on":20,
"min_off":5,
"sleep_seconds":5,
"gpio_fan":16,
"gpio_compressor":20,
"gpio_switch":21,
"gpio_led":18,
"time_averaging_minutes":3
}
